---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { fetchCoffeeData } from '../data/fetchCoffeeData';

interface Coffee {
	name: string,
	image: string,
	price: string,
	rating: number,
	votes: number,
	popular: boolean,
	available: boolean,
}

const data = await fetchCoffeeData();
const availableProducts = data.filter((coffee: Coffee) => coffee.available === true);





// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="text-center space-y-4">
		<h1 class="text-3xl">Our collection</h1>
		<h3 class="text-sm text-gray-600 px-20 pb-12">Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in small batches and shipped fresh weekly.</h3>
	</div>
	<div class="grid grid-cols-3 gap-x-8 gap-y-7">
		{data.map((coffee: Coffee) => (
			<Card coffee={coffee}/>
		))}
	
	</div>
</Layout>
